@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-ExtraboldItalic.eot");
  src: local("Gilroy Extrabold Italic"), local("../fonts/gilroy/Gilroy-ExtraboldItalic"), url("Gilroy-ExtraboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-ExtraboldItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-ExtraboldItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/gilroy/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Black.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Black.woff") format("woff"), url("../fonts/gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/gilroy/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Light.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Light.woff") format("woff"), url("../fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("../fonts/gilroy/Gilroy-Semibold"), url("../fonts/gilroy/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Semibold.woff") format("woff"), url("../fonts/gilroy/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Medium.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"), url("../fonts/gilroy/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-MediumItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"), url("../fonts/gilroy/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-BlackItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-BlackItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("../fonts/gilroy/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-UltraLight.woff") format("woff"), url("../fonts/gilroy/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("../fonts/gilroy/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-RegularItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-SemiboldItalic.eot");
  src: local("Gilroy Semibold Italic"), local("Gilroy-SemiboldItalic"), url("../fonts/gilroy/Gilroy-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-SemiboldItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-SemiboldItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"), url("../fonts/gilroy/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-HeavyItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-HeavyItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Extrabold.eot");
  src: local("../fonts/gilroy/Gilroy Extrabold"), local("Gilroy-Extrabold"), url("../fonts/gilroy/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Extrabold.woff") format("woff"), url("../fonts/gilroy/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"), url("../fonts/gilroy/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-BoldItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"), url("../fonts/gilroy/Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-UltraLightItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-UltraLightItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-LightItalic.eot");
  src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"), url("../fonts/gilroy/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-LightItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"), url("../fonts/gilroy/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Heavy.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Heavy.woff") format("woff"), url("../fonts/gilroy/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"), url("../fonts/gilroy/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Thin.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Thin.woff") format("woff"), url("../fonts/gilroy/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-ThinItalic.eot");
  src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"), url("../fonts/gilroy/Gilroy-ThinItalic.eot?#iefix") format("../fonts/gilroy/embedded-opentype"), url("../fonts/gilroy/Gilroy-ThinItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-ThinItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 95.2%;
  color: #4a525f;
  background: #e5e5e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #4a525f;
}

.link:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1545px;
  margin: 0 auto;
}

.content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left {
  max-width: 1060px;
  width: 100%;
}

.right {
  width: 370px;
  margin-bottom: 100px;
}

.yellow-btn {
  position: relative;
  display: inline-block;
  padding: 15px 33px 16px;
  background: #fbc000;
  border-radius: 50px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 95.2%;
  text-align: center;
  z-index: 1;
}

.yellow-btn::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  height: 49px;
  width: 90%;
  background: rgba(251, 191, 0, 0);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.yellow-btn:hover {
  background: #ffc91c;
}

.yellow-btn:hover::before {
  background: rgba(251, 191, 0, 0.4);
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.yellow-btn:active {
  background: #dca700;
}

.yellow-btn:active::before {
  background: rgba(251, 191, 0, 0);
  -webkit-filter: blur(0);
          filter: blur(0);
}

.white-btn {
  display: inline-block;
  padding: 15px 33px 16px;
  background: #ffffff;
  border-radius: 50px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid #4a525f;
  font-size: 20px;
  line-height: 95.2%;
  text-align: center;
}

.dark-btn {
  position: relative;
  display: inline-block;
  padding: 11px 36px;
  background: #4a525f;
  border-radius: 50px;
  z-index: 1;
  color: #ffffff;
  font-size: 25px;
  line-height: 95.2%;
  text-align: center;
}

.dark-btn::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  height: 45px;
  width: 90%;
  background: rgba(74, 82, 95, 0);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.dark-btn:hover::before {
  background: rgba(74, 82, 95, 0.4);
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.dark-btn:active::before {
  background: rgba(74, 82, 95, 0);
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.favorite-btn {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.favorite-btn__icon {
  width: 100%;
  height: 100%;
}

.up {
  position: fixed;
  right: 114px;
  bottom: 100px;
}

.up-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.up-btn:hover {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.up-btn__img {
  width: 14px;
  height: auto;
}

.close-btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.close-btm__icon {
  width: 100%;
  height: 100%;
}

.input-with-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.input-label {
  font-weight: 600;
  font-size: 18px;
  line-height: 95.2%;
  padding-top: 14px;
  margin-right: auto;
}

.input {
  padding: 13px 21px 14px;
  border: 1px solid #cccccc;
  border-radius: 50px;
  outline: none;
  max-width: 250px;
  width: 100%;
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 95.2%;
  color: #4a525f;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.input:focus {
  border: 1px solid #4a525f;
}

.textarea {
  border-radius: 20px;
  overflow: hidden;
  resize: none;
  height: 100px;
}

.input--is-error {
  border: 1px solid #ea1601;
}

.input--is-error:focus {
  border: 1px solid #ea1601;
}

.input--is-success {
  border: 1px solid #64bc26;
}

.input--is-success:focus {
  border: 1px solid #64bc26;
}

.input::-webkit-input-placeholder {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 95.2%;
  color: #e5e5e5;
}

.input::-moz-placeholder {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 95.2%;
  color: #e5e5e5;
}

.input:-ms-input-placeholder {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 95.2%;
  color: #e5e5e5;
}

.input:-moz-placeholder {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 95.2%;
  color: #e5e5e5;
}

.input-upload {
  text-align: right;
}

.input-upload__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  cursor: pointer;
}

.input-upload__img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.input-upload__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 95.2%;
  color: #cccccc;
}

.input-upload__text:hover {
  text-decoration: underline;
}

.input-upload__file {
  display: none;
}

.input-submit {
  display: block;
  margin-left: auto;
  margin-top: 20px;
  margin: 20px 0 21px auto;
  width: 250px;
  font-size: 20px;
  line-height: 95.2%;
  color: #4a525f;
}

.input-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.input-check__label {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  max-width: 250px;
  width: 100%;
}

.input-check__fake {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #4a525f;
  border-radius: 50%;
}

.input-check__fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fbc000;
}

.input-check__text {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 110%;
  padding-left: 27px;
  color: #4a525f;
}

.input-check__checkbox {
  display: none;
}

.input-check__checkbox:checked + .input-check__fake::before {
  display: block;
}

.form-error {
  display: none;
  margin-top: 15px;
}

.form-error--is-show {
  display: block;
}

.form-error__message {
  max-width: 250px;
  width: 100%;
  margin-left: auto;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 95.2%;
  color: #ea1601;
}

.logo {
  height: 100%;
}

.logo__link {
  height: 100%;
}

.logo__img {
  height: 100%;
  width: auto;
}

.discount-sticker {
  padding: 2px 5px;
  background: #fbc000;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 90%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  padding: 5px;
  border-radius: 50px;
  margin: 0 20px;
}

.pagination__item {
  margin-right: 5px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.pagination__btn:hover {
  background: #ffc91c;
}

.pagination__btn:active {
  background: #dca700;
}

.pagination__btn--is-active {
  background: #fbc000;
}

.header {
  margin-bottom: 50px;
}

.h-contact {
  background-color: #ffffff;
  font-style: 20px;
  line-height: 95.2%;
}

.h-city {
  margin-right: auto;
}

.h-contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
}

.h-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 70px;
}

.h-contacts__item {
  margin-right: 105px;
}

.h-contacts__item:last-child {
  margin-right: 0;
}

.h-callback {
  margin-right: 70px;
}

.h-callback-btn {
  cursor: pointer;
}

.h-login-btn {
  cursor: pointer;
}

.h-main {
  background: #ffffff;
  border-top: 2px solid #e5e5e5;
}

.h-main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.h-logo {
  height: 80px;
  margin-right: auto;
}

.h-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h-nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  min-height: 100px;
}

.h-nav__item:last-child {
  margin-right: 0;
}

.h-nav__link {
  font-size: 24px;
  line-height: 95.2%;
}

.h-nav__link::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  display: block;
  height: 5px;
  width: 100%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.h-nav__link:hover::before {
  background: #fbc000;
}

.h-nav__link--is-active::before {
  background: #fbc000;
}

.h-icons__item {
  position: relative;
  margin-right: 27px;
}

.h-icons__item:last-child {
  margin-right: 0;
}

.h-icon__img {
  height: 29px;
  width: auto;
}

.h-nav__icon {
  position: relative;
}

.h-icon__indicator {
  position: absolute;
  top: 0px;
  right: -5px;
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fbc000;
}

.h-icon__indicator-is-show {
  display: block;
}

.path-wrap {
  margin-bottom: 37px;
}

.path {
  color: #cccccc;
}

.path__link {
  color: #cccccc;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.path__link:hover {
  color: #4a525f;
}

.path__link--is-active {
  color: #4a525f;
}

.path__slash {
  margin: 0 10px;
}

.slider {
  position: relative;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.slide {
  min-width: 100%;
}

.main-slider {
  margin-bottom: 80px;
}

.main-slide__link {
  min-width: 100%;
}

.main-slide {
  position: relative;
  padding: 0 47px;
  background: #ffffff;
  border-radius: 20px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slide__img {
  position: absolute;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-slide__text {
  color: #495da6;
}

.main-slide__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
}

.main-slide__desc {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 28px;
}

.main-slide__btn {
  position: relative;
  display: inline-block;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  background: radial-gradient(128% 170% at 22.2% 0%, #6b81ce 0%, #495da6 100%);
  border-radius: 100px;
  padding: 11px 43px;
  z-index: 1;
}

.main-slide__btn::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  width: 90%;
  height: 80%;
  background: rgba(47, 78, 189, 0.6);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;
}

.main-slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 15px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main-slider__btn:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}

.main-slider__btn--prev {
  right: 85px;
}

.main-slider__btn--next {
  right: 15px;
}

.main-slider__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 11px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__list:after {
  content: "";
  width: 100%;
  max-width: 340px;
}

.product-card {
  position: relative;
  max-width: 340px;
  width: 100%;
  min-height: 460px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin-bottom: 50px;
  -webkit-transition: 0.1;
  transition: 0.1;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  z-index: 0;
}

.product-card:hover {
  z-index: 10;
}

.product-card:hover .short-order {
  -webkit-transform: translate(0, 64px);
          transform: translate(0, 64px);
}

.product-card:hover .product-card__img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.product-card__content {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
}

.product-card__preview {
  position: relative;
  overflow: hidden;
  height: 320px;
  border-radius: 20px 20px 0 0;
}

.product-card__img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: -1;
}

.product-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 17px 20px 12px;
}

.product-card__title {
  font-size: 18px;
  line-height: 95.2%;
  font-size: 18px;
  margin-bottom: 20px;
}

.product-card__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}

.product-card__discount {
  display: inline-block;
  margin-bottom: 8px;
}

.product-card__number {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 95.2%;
}

.product-card__favorite {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  top: 19px;
  right: 15px;
  width: 50px;
  height: 50px;
  z-index: 1000;
}

.short-order {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  display: block;
  width: 100%;
  padding: 20px 20px 12px;
  background: #ffffff;
  border-radius: 0 0 20px 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: -1;
}

.short-order__btn {
  width: 100%;
}

.section {
  margin-bottom: 100px;
}

.section--with-slider {
  overflow: hidden;
}

.section-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 95.2%;
  color: #4a525f;
  margin-bottom: 30px;
}

.section-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
}

.mt10 {
  margin-top: 10px;
}

.mb80 {
  margin-bottom: 80px;
}

.section-arrow {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.section-arrow:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.section-link {
  margin: 0 50px;
}

.section-arrow__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 14px;
}

.section-slider {
  position: relative;
}

.section-slider__controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  top: 7px;
}

.section-slider__arrow {
  margin-right: 20px;
}

.section-slider__arrow:last-child {
  margin-right: 0;
}

.product-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-slide {
  min-width: 340px;
  margin-right: 20px;
}

.subsections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subsection-card {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 520px;
  height: 300px;
  background: #ffffff;
  border-radius: 20px;
}

.subsection-card:hover .subsection-card__img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.subsection-card:hover .subsection-card__arrow {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.subsection-card__content {
  overflow: hidden;
  z-index: 1;
}

.subsection-card__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 95.2%;
  margin-bottom: 3px;
}

.subsection-card__arrow {
  display: inline-block;
  height: 10px;
  width: auto;
  -webkit-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.subsection-card--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.subsection-card__img {
  position: absolute;
  width: auto;
  max-height: 300px;
  bottom: 0;
  right: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.subsection-card__img--right {
  top: 0;
  left: 0;
}

.small-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  height: 150px;
  background: #ffffff;
  margin-bottom: 20px;
}

.small-card:last-child {
  margin-bottom: 0;
}

.small-card:hover .small-card__img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.small-card__preview {
  overflow: hidden;
  width: 315px;
}

.small-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 17px;
}

.small-card__img {
  border-radius: 20px 0 0 20px;
  width: auto;
  height: 150px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.small-card__text {
  margin-right: 20px;
}

.small-card__link {
  font-size: 24px;
  line-height: 105%;
}

.small-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 190px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small-card__number {
  white-space: nowrap;
  font-weight: 600;
  font-size: 36px;
  line-height: 95.2%;
}

.callback {
  border-radius: 20px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.callback-form {
  padding: 21px 44px;
  width: 530px;
}

.callback-form__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 95.2%;
  margin-bottom: 10px;
}

.callback-form__desc {
  line-height: 130%;
  font-size: 18px;
  margin-bottom: 25px;
}

.callback-right {
  position: relative;
  width: 50%;
}

.callback-right__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  max-height: 540px;
  border-radius: 0 20px 20px 0;
}

.callback__item {
  margin-bottom: 10px;
}

.callback__item:last-child {
  margin-bottom: 0;
}

.rolled-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
}

.rolled-card {
  position: relative;
  overflow: hidden;
  width: 520px;
  height: 280px;
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 20px;
}

.rolled-card:hover .rolled-card__img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.rolled-card:hover .rolled-card__arrow {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.rolled-card__content {
  overflow: hidden;
  z-index: 1;
}

.rolled-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  height: 100%;
}

.rolled-card__title {
  font-size: 24px;
  line-height: 95.2%;
  margin-bottom: 7px;
}

.rolled-card__arrow {
  display: inline-block;
  height: 10px;
  width: auto;
  -webkit-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.rolled-card__img {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 280px;
  height: 100%;
  width: auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.news-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.news-slide {
  background: #ffffff;
  min-width: 340px;
  border-radius: 10px;
  margin-right: 20px;
  overflow: hidden;
}

.news-slide:hover .news-slide__img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.news-slide__preview {
  overflow: hidden;
  margin-bottom: 15px;
  max-height: 210px;
}

.news-slide__img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.news-slide__info {
  padding: 0 10px 20px;
}

.news-slide__title {
  min-height: 87px;
}

.news-slide__title-link {
  font-weight: 600;
  font-size: 25px;
  line-height: 95.2%;
}

.news-slide__desc {
  min-height: 195px;
  font-weight: 300;
  font-size: 16px;
  line-height: 95.2%;
}

.news-slide__btn {
  text-align: center;
}

.news-slide__link {
  margin: 0 auto;
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #ffffff;
  padding: 25px 43px;
  border-radius: 20px;
  margin-bottom: 80px;
}

.switch__item {
  font-weight: 600;
  font-size: 36px;
}

.switch__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  padding: 0 5px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.switch__toggle--is-left {
  background: #fbc000;
}

.switch__toggle--is-left .toggle__lever {
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.switch__toggle--is-right {
  background: #fbc000;
}

.switch__toggle--is-right .toggle__lever {
  left: 100%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.toggle {
  position: relative;
  width: 100%;
}

.toggle__lever {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-card {
  position: relative;
  overflow: hidden;
  max-width: 520px;
  width: 100%;
  height: 280px;
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 20px;
}

.catalog-card:hover .catalog-card__back {
  display: block;
}

.catalog-card:hover .catalog-card__title {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.catalog-card:hover .catalog-card__img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.catalog-card__front {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.catalog-card__title {
  position: relative;
  width: 180px;
  font-size: 24px;
  line-height: 95.2%;
  z-index: 10;
}

.catalog-card__img {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 280px;
  height: 100%;
  width: auto;
}

.catalog-card__back {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  padding: 25px 25px 0;
}

.catalog-card__title-back {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 95.2%;
}

.catalog-card__list {
  font-size: 16px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-card__item {
  min-width: 50%;
  margin-bottom: 2px;
}

.catalog-card__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.catalog-card__more:hover .catalog-card__more-text {
  margin-right: 30px;
}

.catalog-card__more-text {
  margin-right: 10px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.catalog-card__more-arrow {
  width: 50px;
  height: auto;
}

.catalog-card__close {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.categories {
  margin-bottom: 80px;
}

.categories__title {
  font-size: 36px;
  line-height: 95.2%;
  margin-bottom: 30px;
}

.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories__list::after {
  content: "";
  max-width: 340px;
  width: 100%;
}

.popular {
  margin-bottom: 50px;
}

.popular__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 95.2%;
  margin-bottom: 30px;
}

.category-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px 18px 66px;
  margin-bottom: 20px;
  border-radius: 20px;
  background: #ffffff;
}

.category-info__preview {
  overflow: hidden;
  border-radius: 20px;
  height: auto;
  margin-right: 25px;
}

.category-info__img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

.category-info__content {
  max-width: 645px;
  width: 100%;
}

.category-info__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 95.2%;
  margin-bottom: 30px;
}

.category-info__desc {
  font-size: 18px;
  line-height: 130%;
}

.category-desc {
  background: #ffffff;
  padding: 19px 40px 26px;
  border-radius: 20px;
  margin-bottom: 100px;
}

.category-desc__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 95.2%;
  margin-bottom: 20px;
}

.category-desc__text {
  font-size: 18px;
  line-height: 130%;
}

.category-desc__para {
  margin-bottom: 20px;
}

.category-desc__para:last-child {
  margin-bottom: 0;
}

.category-card {
  overflow: hidden;
  max-width: 340px;
  min-height: 400px;
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 20px;
}

.category-card:hover .category-card__img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.category-card:hover .category-card__title {
  text-decoration: underline;
}

.category-card__preview {
  width: 100%;
  height: 313px;
  overflow: hidden;
}

.category-card__img {
  height: auto;
  width: 100%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.category-card__info {
  padding: 10px 20px 20px;
}

.category-card__title {
  font-size: 24px;
  line-height: 95.2%;
}

.about {
  margin-bottom: 80px;
}

.about-info {
  padding: 39px 30px 25px;
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 20px;
}

.about-info__desc {
  margin-bottom: 50px;
}

.about-info__desc:last-child {
  margin-bottom: 0;
}

.about-info__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  margin-bottom: 30px;
}

.about-info__text {
  font-size: 18px;
  line-height: 110%;
}

.about-info__list {
  margin-bottom: 20px;
}

.about-info__item {
  font-size: 18px;
  line-height: 110%;
}

.about-info__para {
  margin-bottom: 20px;
}

.about-info__para:last-child {
  margin-bottom: 0;
}

.news {
  margin-bottom: 70px;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-col {
  margin-right: 10px;
}

.news-col:last-child {
  margin-right: 0;
}

.news-card {
  overflow: hidden;
  background: #ffffff;
  max-width: 515px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 30px;
}

.news-card:hover .news-card__title {
  text-decoration: underline;
}

.news-card:hover .news-card__img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.news-card__preview {
  overflow: hidden;
  height: 300px;
}

.news-card__img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.news-card__desc {
  padding: 21px 32px;
}

.news-card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 95.2%;
}

.one-news {
  overflow: hidden;
  background: #ffffff;
  border-radius: 20px;
}

.one-news__preveiw {
  position: relative;
}

.one-news__img {
  width: 100%;
  height: auto;
}

.one-news__nav {
  position: absolute;
  left: 0;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.one-news__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 265px;
}

.one-news__link:hover .one-news__link-text {
  text-decoration: underline;
}

.one-news__link-text {
  color: #ffffff;
}

.one-news__desc {
  padding: 35px 35px 32px;
}

.one-news__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 95.2%;
  margin-bottom: 15px;
}

.one-news__text {
  line-height: 130%;
}

.contacts {
  background: #ffffff;
  overflow: hidden;
  border-radius: 20px;
}

.contacts__list {
  padding: 43px 0 23px 58px;
}

.contants__item {
  max-width: 800px;
  width: 100%;
  margin-bottom: 20px;
}

.contants__item:last-child {
  margin-bottom: 0;
}

.contants__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

.contants__text {
  font-size: 24px;
  line-height: 130%;
}

.contacts__img {
  width: 100%;
  height: auto;
}

.branches {
  overflow: hidden;
  background: #ffffff;
  border-radius: 20px;
}

.branches__img {
  width: 100%;
  height: auto;
}

.branches__cols {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 30px;
}

.branches__item {
  width: 320px;
  font-size: 24px;
  line-height: 140%;
}

.branches__list {
  -webkit-column-count: 3;
          column-count: 3;
}

.basket {
  background: #ffffff;
  border-radius: 20px;
  padding: 10px 16px 21px 25px;
}

.basket-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px 0 25px;
  margin-bottom: 17px;
}

.basket-col {
  width: 100%;
  text-align: center;
  margin-right: 25px;
  line-height: 95.2%;
}

.basket-col--1 {
  max-width: 430px;
}

.basket-col--2 {
  max-width: 150px;
}

.basket-col--3 {
  max-width: 180px;
  text-align: left;
  margin-right: 0;
}

.basket-col--4 {
  max-width: 100px;
  margin-right: 15px;
}

.basket-col--5 {
  max-width: 60px;
}

.basket__list {
  margin-bottom: 30px;
  height: 650px;
  overflow-y: auto;
}

.basket-order-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.basket__item {
  padding: 10px 0 9px;
  border-bottom: 1px solid #f0f1f3;
}

.basket-price {
  margin-bottom: 20px;
}

.basket-price__text {
  font-size: 24px;
  line-height: 95.2%;
}

.basket-price__num {
  font-weight: 500;
  font-size: 24px;
  line-height: 95.2%;
}

.basket-buy {
  text-align: right;
}

.basket-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

.basket-card__preview {
  overflow: hidden;
  border-radius: 10px;
  width: 110px;
  height: 110px;
  margin-right: 20px;
}

.basket-card__img {
  width: 100%;
  height: 100%;
}

.basket-card__title {
  max-width: 300px;
  margin-right: 25px;
}

.basket-card__link {
  font-size: 18px;
  line-height: 95.2%;
}

.basket-card__counter {
  margin-right: 25px;
}

.basket-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  max-width: 180px;
  width: 100%;
}

.basket-card__discount {
  margin-right: 17px;
}

.basket-card__price-num {
  font-weight: 600;
  font-size: 18px;
  line-height: 95.2%;
}

.basket-card__btn {
  width: 40px;
  height: 40px;
  margin-right: auto;
}

.basket-card__btn:last-child {
  margin-right: 0;
}

.search-form {
  position: relative;
  margin-bottom: 20px;
}

.search__input {
  width: 100%;
  padding: 14px 45px 14px 23px;
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 95.2%;
  color: #4a525f;
}

.search__input::-webkit-input-placeholder {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 95.2%;
  color: #cccccc;
}

.search__input::-moz-placeholder {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 95.2%;
  color: #cccccc;
}

.search__input:-ms-input-placeholder {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 95.2%;
  color: #cccccc;
}

.search__input:-moz-placeholder {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 95.2%;
  color: #cccccc;
}

.search__sumbit {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 13px;
}

.catalog-nav {
  width: 100%;
  background: #ffffff;
  padding: 18px 25px;
}

.category:hover .subcategories {
  height: auto;
}

.category:hover .category__btn {
  opacity: 1;
}

.category__name {
  position: relative;
  padding-right: 24px;
}

.category__btn {
  opacity: 0;
  position: absolute;
  padding: 10px 5px;
  top: 50%;
  right: -10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.category__arrow {
  width: 14px;
  height: auto;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  cursor: pointer;
}

.category__link {
  font-size: 24px;
  line-height: 140%;
  color: #cccccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.category__link:hover {
  color: #4a525f;
}

.subcategories {
  overflow: hidden;
  height: 0;
}

.subcategories__list {
  padding: 6px 0 9px 19px;
}

.subcategories__link {
  font-size: 18px;
  line-height: 140%;
  color: #cccccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.subcategories__link:hover {
  color: #4a525f;
}

.f-top {
  background: #ffffff;
  border-bottom: 1px solid #f0f1f3;
}

.f-top__inner {
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-logo {
  height: 93px;
  margin-right: auto;
}

.f-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-nav__item {
  font-size: 24px;
  line-height: 95.2%;
  margin-right: 40px;
}

.f-nav__item:last-child {
  margin-right: 0;
}

.f-contacts {
  background: #ffffff;
}

.f-contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 40px;
  min-height: 150px;
  font-weight: 300;
  line-height: 160%;
  color: #666666;
}

.privacy-policy {
  position: relative;
  width: 269px;
  color: #666666;
  line-height: 160%;
  margin-right: auto;
}

.privacy-policy::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #666666;
}

.privacy-policy::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #666666;
}

.f-contacts__address {
  width: 331px;
  margin-right: 124px;
}

.f-contact__link {
  color: #666666;
}

.f-contact__link--underline {
  position: relative;
}

.f-contact__link--underline::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #cccccc;
}

.f-info {
  background: #4a525f;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.f-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 95px;
}

.f-info__list {
  margin-right: auto;
}

.f-info__item {
  color: #ffffff;
  font-weight: 200;
  line-height: 130%;
}

.f-info__link {
  position: relative;
  color: #ffffff;
}

.f-info__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #cccccc;
}

.f-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-socials__item {
  margin-right: 26px;
}

.f-socials__item:last-child {
  margin-right: 0;
}

.f-socials__icon {
  width: 31px;
  height: 35px;
}

.f-bootom {
  background: #4a525f;
}

.f-bootom__inner {
  min-height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.made {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.made__text {
  padding-top: 5px;
  font-weight: 200;
  font-size: 15px;
  line-height: 130%;
  color: #ffffff;
}

.made__link {
  margin: 0 20px 0 9px;
}

.modals {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.bg-modals {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal {
  display: none;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  background: #ffffff;
}

.modal--is-show {
  display: block;
}

.modal__text {
  position: relative;
  width: 450px;
  margin-bottom: 30px;
  z-index: 10;
}

.modal__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 95.2%;
  margin-bottom: 10px;
}

.modal__desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 110%;
}

.modal-form {
  position: relative;
  max-width: 382px;
  width: 100%;
  z-index: 10;
}

.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 13px;
  z-index: 10;
}

.modal__bg {
  position: absolute;
}

.modal__link {
  margin-top: 25px;
  max-width: 250px;
  width: 100%;
}

.modal-thanks__text {
  position: relative;
  width: 450px;
  z-index: 10;
}

.connection-modal {
  max-width: 700px;
}

.connection-modal__content {
  position: relative;
  padding: 50px;
  width: 100%;
}

.connection-modal__bg {
  bottom: 0;
  right: 0;
}

.connection-modal__img {
  max-height: 380px;
  height: auto;
  width: auto;
  max-width: 250px;
}

.connection-thanks {
  position: relative;
  max-width: 700px;
  min-height: 400px;
}

.connection-thanks__content {
  padding: 50px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-modal {
  max-width: 1060px;
  width: 100%;
}

.order-modal__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 650px;
  background: #ffffff;
}

.order-modal__left {
  max-width: 490px;
  padding: 50px;
  width: 100%;
  background: #ffffff;
}

.order-modal__bg {
  bottom: 0;
  left: 0;
}

.order-modal__img {
  max-width: 190px;
  max-height: 260px;
  width: auto;
  height: auto;
}

.order-modal__right {
  background: #f0f1f3;
  padding: 50px 30px 50px 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-modal__total {
  margin: auto 0 0 auto;
  font-size: 24px;
  line-height: 95.2%;
}

.order-modal__price {
  font-weight: 600;
}

.order-modal__list {
  max-height: 454px;
  overflow: auto;
}

.order-modal__item {
  border-top: 1px solid #e5e5e5;
}

.order-modal__item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.order-thanks__content {
  padding: 50px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.modal-card {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-card__preview {
  position: relative;
  overflow: hidden;
  min-width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
}

.modal-card__img {
  position: absolute;
  top: 0;
  left: 0;
}

.modal-card__title {
  margin-bottom: 20px;
  max-width: 250px;
  line-height: 115%;
  font-size: 18px;
}

.modal-card__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-card__icon {
  width: 40px;
  height: 40px;
}

.modal-card__counter {
  margin-right: 10px;
}

.modal-card__icon {
  margin-right: 10px;
}

.modal-card__icon:last-child {
  margin-right: 0;
}

.modal-card__num {
  font-weight: 600;
  font-size: 24px;
  line-height: 95.2%;
}

.modal-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.counter {
  width: 150px;
  border-radius: 50px;
  border: 1px solid #4a525f;
  padding: 4px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 24px;
  line-height: 95.2%;
}

.counter__sing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
}

.counter__quantity {
  font-weight: 500;
  font-size: 24px;
  line-height: 95.2%;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  color: #4a525f;
  border: none;
  outline: none;
  width: 66px;
  height: 30px;
}
/*# sourceMappingURL=style.css.map */