.connection-modal {
  max-width: 700px;
}

.connection-modal__content {
  position: relative;
  padding: 50px;
  width: 100%;
}

.connection-modal__bg {
  bottom: 0;
  right: 0;
}

.connection-modal__img {
  max-height: 380px;
  height: auto;
  width: auto;
  max-width: 250px;
}

.connection-thanks {
  position: relative;
  max-width: 700px;
  min-height: 400px;
}

.connection-thanks__content {
  padding: 50px;
  min-height: 400px;
  display: flex;
  align-items: center;
}
