.form-error {
  display: none;
  margin-top: 15px;
}

.form-error--is-show {
  display: block;
}

.form-error__message {
  max-width: 250px;
  width: 100%;
  margin-left: auto;

  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 95.2%;
  color: $red;
}
