//основные цвета
$yellow: #fbc000;
$d-grey: #4a525f;
$milky: #f0f1f3;
$black: #000000;
$white: #ffffff;
$bg: #e5e5e5;

// дополнительные цвета
$l-grey: #cccccc;
$grey: #666666;
$green: #64bc26;
$red: #ea1601;

//hover
$l-yellow: #ffc91c;
//active
$d-yellow: #dca700;

// font
$gilroy: "Gilroy", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $gilroy;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: $d-grey;

  background: $bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: $d-grey;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1545px;
  margin: 0 auto;
}

.content-wrap {
  display: flex;
  justify-content: space-between;
}

.left {
  max-width: 1060px;
  width: 100%;
}

.right {
  width: 370px;
}

.search__input {
  width: 100%;
}

.section-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 95.2%;
  color: $d-grey;
}
