.news-slides {
  display: flex;
  overflow: hidden;
}

.news-slide {
  background: $white;
  min-width: 340px;
  border-radius: 10px;
  margin-right: 20px;
}

.news-slide__preview {
  margin-bottom: 15px;
}

.news-slide__img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: auto;
}

.news-slide__info {
  padding: 0 10px 20px;
}

.news-slide__title {
  min-height: 87px;
}

.news-slide__title-link {
  font-weight: 600;
  font-size: 25px;
  line-height: 95.2%;
}

.news-slide__desc {
  min-height: 195px;

  font-weight: 300;
  font-size: 16px;
  line-height: 95.2%;
}

.news-slide__btn {
  text-align: center;
}

.news-slide__link {
  margin: 0 auto;
}
