.short-order {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 0);
  display: block;
  width: 100%;
  padding: 20px 20px 12px;
  background: $white;
  z-index: -1;
  border-radius: 0 0 20px 20px;
  transition: 0.2s ease-in-out;
}

.short-order__btn {
  width: 100%;
}
