.product-slides {
  display: flex;
}
.product-slide {
  position: relative;
  min-width: 340px;
  max-width: 340px;
  min-height: 460px;
  margin-right: 20px;
  transition: 0.2s ease-in-out;
  z-index: 1;

  &:hover .short-order {
    transform: translate(0, 64px);
  }

  &:hover .product-slide__img {
    transform: scale(1.1, 1.1);
  }
}

.product-slide__content {
  background: $white;
  display: flex;
  height: 100%;
  flex-direction: column;
  border-radius: 20px;
}

.product-slide__preview {
  position: relative;
  overflow: hidden;
  height: 320px;
  border-radius: 20px 20px 0 0;
}

.product-slide__img {
  width: 100%;
  height: auto;
  transition: 0.2s ease-in-out;
}

.product-slide__info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 17px 20px 12px;
}

.product-slide__title {
  font-size: 18px;
  line-height: 95.2%;
  font-size: 18px;
  margin-bottom: 20px;
}

.product-slide__buy {
  display: flex;
  align-items: flex-end;
  margin-top: auto;
  justify-content: space-between;
  font-weight: 600;
}

.product-slide__discount {
  display: inline-block;
  padding: 5px;
  background: $yellow;
  border-radius: 5px;
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 90%;
}

.product-slide__number {
  display: block;

  font-weight: 600;
  font-size: 24px;
  line-height: 95.2%;
}

.product-slide__favorite {
  position: absolute;
  background: $white;
  border-radius: 50%;
  top: 19px;
  right: 15px;
  width: 50px;
  height: 50px;
}
